.AfterLoginWindowDesktop {
    width: 100%;
}
.listAndGraphWindowDesktop {
    width: 100%;
    display: flex;
    gap: 60px;
    margin-top: 60px;
}
.realtimevideoBox {
    width: 100%;
    height: 56.25vw;
    max-height: 810px;
    border-radius: 24px;
    overflow: hidden;
}

.checkBoxSmall {
    width: 50px;
    height: 30px;
    border: 0.1px solid #222;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 20px;
}
.checkFinish {
    background: #7DDBF8;
}
.checkPrev {
    background: #EFA590;
}
.listWindowDesktop button {
    margin-top: 20px;
    cursor: pointer;
    transition: all .3s ease;
}
.DBlistSmall li {
    cursor: pointer;
    transition: all 0.3s ease;
}


@media screen and (min-width: 1200px) {
    .AfterLoginWindowDesktop {
        max-width: 1440px;
        min-width: 1200px;
        margin: 0 auto;
    }
    .listWindowDesktop {
        width: 500px;
    }
    .graphWindowDesktop {
        width: calc(100% - 560px);
    }
    .listWindowDesktop > h3 {
        font-size: 28px;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .listWindowDesktop button {
        border: none;
        background: none;
        display: block;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }
    .listWindowDesktop button:hover {
    background: #69BDF9;
    color: #fff;
}
    .DBlistSmall li p{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        gap: 8px;
    }
    .DBlistSmall li {
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        padding: 0 14px;
        border: 1px solid #222;
        border-bottom: none;
    }
    .DBlistSmall li:last-child {
        border-bottom: 1px solid #222;
    }
    .DBlistSmall li:hover {
        border: 1px solid #7DDBF8;
        background: #7DDBF8;
    }
    .DBlistSmall li:hover p {
        color: #fff;
    }
    .DBlistSmall li:hover .checkBoxSmall  {
        border: 1px solid #fff;
        color: #fff;
    }
}
@media screen and (max-width: 1200px) and (min-width: 720px) {
    .AfterLoginWindowDesktop {
        max-width: 1200px;
        min-width: 720px;
        margin: 0 auto;
    }
    .listAndGraphWindowDesktop {
        flex-direction: column-reverse;
        padding: 0 24px;
        gap: 24px;
    }
    .listWindowDesktop {
        width: 100%;
    }
    .graphWindowDesktop {
        width: 100%;
    }
    .listWindowDesktop button {
        border: none;
        background: rgba(105, 189, 249, 0.25);
        border-radius: 24px;
        display: block;
        font-size: 20px;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .listWindowDesktop button:hover {
    background: #69BDF9;
    color: #fff;
}
    .listWindowDesktop > h3 {
        display: none;
    }
    .DBlistSmall{
        display: flex;
        flex-wrap: wrap;
    }
    .DBlistSmall li {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        height: 122px;
        align-items: center;
        padding: 16px;
        gap: 12px;
    border-radius: 20px;
    }
.DBlistSmall li:hover {
    border: 2px solid #69BDF9;
}
    .sumnailBox {
        width: 160px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(34, 34, 34, 0.4);
        border-radius: 16px;
    }
    .DBListInfoBox {
        width: calc(100% - 160px - 32px - 12px);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .DBListFilename {
        font-size: 16px;
    }
    .DBListCreatedAt {
        font-size: 14px;
    }
    .checkline {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .checkline p {
        font-size: 12px;
    }
}
@media screen and (max-width: 720px) and (min-width:320px) {
    .AfterLoginWindowDesktop {
        max-width: 7200px;
        min-width: 320px;
        margin: 0 auto;
    }
    .listAndGraphWindowDesktop {
        flex-direction: column-reverse;
        padding: 0 24px;
        gap: 24px;
    }
    .listWindowDesktop {
        width: 100%;
    }
    .graphWindowDesktop {
        width: 100%;
    }
    .listWindowDesktop > h3 {
        display: none;
    }
    .DBlistSmall{
        display: flex;
        flex-wrap: wrap;
    }
    .listWindowDesktop button {
        border: none;
        background: rgba(105, 189, 249, 0.25);
        border-radius: 24px;
        display: block;
        font-size: 20px;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
    }
    .listWindowDesktop button:hover {
    background: #69BDF9;
    color: #fff;
}
    .listWindowDesktop > h3 {
        display: none;
    }
    
    .DBlistSmall{
        display: block;
    }
    .DBlistSmall li {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 122px;
        align-items: center;
        padding: 16px;
        gap: 12px;
        border-radius: 20px;
        }
    .DBlistSmall li:hover {
        border: 2px solid #69BDF9;
    }
    .sumnailBox {
        width: 140px;
        height: 79px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(34, 34, 34, 0.4);
        border-radius: 16px;
    }
    .DBListInfoBox {
        width: calc(100% - 140px - 32px - 12px);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .DBListFilename {
        font-size: 16px;
    }
    .DBListCreatedAt {
        font-size: 14px;
    }
    .checkline {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .checkline p {
        font-size: 12px;
    }
}